PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/brindha_cloud_kitchen?retryWrites=true&w=majority
JWT_SECRET=brindha_super_secret_jwt_key_9837492837492
NODE_ENV=production
